$darkGreen: #3F5C59;
$darkRed: #8D1B3D;
$green: #597E50;
$lightGray: #FAFAFA;
$darkGray: #D7DBDA;
$font: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
//alt over 992
$mainTopMargDesktop: 40px;
$glHeightDesktop: 10px;
$heroEleHeightDesktop: 80px;
$topHeightDesktop: calc($mainTopMargDesktop + $glHeightDesktop + $heroEleHeightDesktop);
//1200
$mainTopMargTablet: 5px;
$topHeight1200: calc($mainTopMargTablet + $glHeightDesktop + $heroEleHeightDesktop);
//992
$glHeightTablet: 5px;
$heroEleHeightTablet: 60px;
$settingsContainerHeightTablet: 100px;
$topHeightTablet: calc($settingsContainerHeightTablet + $mainTopMargTablet + $glHeightTablet + $heroEleHeightTablet);

//768
$settingsContainerHeightMobileL: 80px;
$topHeightMobile: calc($settingsContainerHeightMobileL + $mainTopMargTablet + $glHeightTablet + $heroEleHeightTablet);

//main width
$main1200width: 1140px;
$main992width: 720px;
$main768width: 540px;
$main576width: 100%;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  //overflow: hidden;   
  display: flex;
  flex-direction: column;
}

html {
  font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 10px; //note til omregning: hjemmeværnet har 16px. Deres font-size er faktisk forkert. For at rette, så gang deres faktor med 1,0625
}

.heroElements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //padding-bottom: 10px;
  height: $heroEleHeightDesktop;
}

h1 {
  margin-top: 5px;
  font-size: 4.6rem;
  font-weight: 700;
  color: $darkGreen;
  line-height: 1.5;
  letter-spacing: -2px;
  padding-bottom: 4px;
}

p {
  font-size: 1.7rem;
  line-height: 2.7rem;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}

main {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: $mainTopMargDesktop;
  height: 100vh;
}

.greenLine {
  width: 100%;
  height: $glHeightDesktop;
  background-color: $darkGreen;
}

#contentContainer {
  display: flex;
  flex-direction: row;
  width: auto;

  #settingsContainer {
    background-color: $lightGray;
    width: 350px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  #tasksContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - $topHeightDesktop);
    display: flex;
    flex-direction: column;

    #standardLandingPage {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      padding-left: 15px;
      z-index: 0;
    }

    #renderedTasks {
      overflow-y: scroll;
      width: 100%;
      flex-grow: 1;
    }
  }
}

//-----------------------------
//aside styling - START
//-----------------------------

/* GENERELT */
.toolbar {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-filter-sort-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.filter-sort-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* SEARCH */
.search-group input {
  width: 100%;
  padding: 6px 12px;
  border-radius: 1.5em;
  border: 1px solid #000;
  font-size: 1.6rem;
}

/* FILTER + SORTERING grupper */
fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-group {
  gap: 2px;
}

.mini-header {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: .5px; //-0.5px
  margin-bottom: 5px;
}

.legend-group {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* CHECKBOXES / RADIO BUTTONS */
.sort-toggle {
  display: none;
}

.sort-toggle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sort-group {
  gap: 2px;
  position: relative;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  white-space: nowrap;
}

.sort-dropdown {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  z-index: 10;
}

#typeDropdown,
#sorteringDropdown {
  display: flex;
}

/* FILE BUTTONS */
.file-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.file-button {
  display: inline-block;
  padding: 8px 14px;
  border: 2px solid black;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; //button tag får ikke font-styling fra html{}

}

.info-btn {
  // spørgsmåls-ikonet
  z-index: 10;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  background: black;
  color: white;
  cursor: help;
  font-weight: 600;
  margin-left: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative; // vigtig for absolut tooltip-position
}

/* Fælles tooltip-style – skjult som default */
.info-btn::after {
  // info-boksen
  //display: none; //delete
  position: absolute;
  background: #fff;
  color: #000;
  padding: 10px 10px;
  border-radius: 4px;
  font-size: 1.2rem;
  border: 1px solid black;
  white-space: wrap;
  font-weight: 400;
  //width: 200px;
  height: auto;
  z-index: 100;
  opacity: 0; // skjult som default
  pointer-events: none; // så klik går “igennem” til dokumentet
  transition: opacity .15s ease;
}

/* Synlig på hover (desktop) eller når JS tilføjer .show-info */
.info-btn:hover::after,
.info-btn.show-info::after {
  opacity: 1;
}

#uploadInfo {
  position: relative;
  z-index: 20;
}

#downloadInfo {
  position: relative;
  z-index: 10;
}

/* Tekster – UDEN :hover */
#uploadInfo::after {
  content: "Det anbefales at du opretter opgaver her på siden. Hvis du uploader en ny Excel-fil (.xcel), overrider du de opgaver, der allerede ligger på siden. Hvis du har opgaver her på siden, bør du overveje først at downloade dem, før du uploader en ny fil, så du ikke mister dem. Filen du uploader SKAL være .xcel og i første række indeholde felter med henholdsvis: Titel, Beskrivelse, Type, Lokation, Radius, Valgmuligheder og Aktiveringsbetingelse. Hvis du er i tvivl, så download enten eksisterende opgaver, og arbejd så videre i den fil, eller (hvis der ingen opgaver findes på siden) download en template.";
  display: block;
  text-align: left;
  //transform: translate(50%, -55%); 
  //position: absolute;
  z-index: 100;
  width: calc($main1200width - 500px);
  transform: translate(50%, -53%);
}

#downloadInfo::after {
  content: "Ved at klikke 'Download fil', downloader du en kopi af opgaverne her på siden. Opgaverne bliver gemt lokalt på din computer som Excel-fil (.xcel).";
  display: block;
  text-align: left;
  width: calc($main1200width - 600px);
  transform: translate(50%, -53%);
}

#formateretInfo::after {
  content: "Første række skal indeholde felter med henholdsvis: Titel, Beskrivelse, Type, Lokation, Radius, Valgmuligheder og Aktiveringsbetingelse. I kolonnerne under hvert felt, udfylder du indhold til opgaver (én opgave per række). Vær opmærksom på at koordinater (longitude, latitude) skilles ad med komma og mellemrum (', '), og at Valgmuligheder deles med semikolon (';'). Er du i tvivl om format, så opret opgaver her på siden og download derefter filen. I denne fil vil formatet være åbenlyst.";
  display: block;
  text-align: left;
  width: calc($main1200width - 600px);
  transform: translate(-51%, -5%);
}


.btn-info-container {
  display: flex;
  gap: 1px;
  align-items: center;
}

//-----------------------------
//aside styling - SLUT
//-----------------------------



//-----------------------------
//chevron styling - START
//-----------------------------
.rotate-up {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.rotate-down {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

//-----------------------------
//chevron styling - SLUT
//-----------------------------

//-----------------------------
//inline buttons: upload og download - styling - START
//-----------------------------

.inlineBtn {
  color: $darkRed;
  border-bottom: 1px solid $darkRed;
  cursor: pointer;
  border-left: none;
  border-right: none;
  border-top: none;
  background: none;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; //button tag får ikke font-styling fra html{}
  font-size: 1.7rem;
}

//-----------------------------
//inline buttons: upload og download - styling - SLUT
//-----------------------------

//-----------------------------
//tooltip på upload og download styling - START
//-----------------------------
.tooltip-btn {
  position: relative;
}

/* Tooltip-box */
.tooltip-btn::after {
  content: attr(data-tooltip);
  text-align: left;

  margin-top: 6px;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px 10px;

  font-size: 1.2rem;
  line-height: 1.4;
  width: 220px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
  z-index: 10;

  position: absolute;
  width: 100px;
  transform: translate(-150px, 1.5rem);
}

/* Hover */
.tooltip-btn:hover::after {
  opacity: 1;
}

//-----------------------------
//tooltip på upload og download styling - SLUT
//-----------------------------

//-----------------------------
//Tilføj ny opg knap - START
//-----------------------------
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn {

  display: inline-block;
  padding: 10px 18px;
  border: 2px solid transparent;
  //padding: 12px 20px;
  //border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.07rem;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; //button tag får ikke font-styling fra html{}
}

#tilføjNyBtn {
  background: $green;
  color: white;

  &:hover {
    background: $darkGreen;
  }
}

.btn1 {
  background: $darkRed;
  color: white;

  &:hover {
    background: $darkGreen;
  }
}

//-----------------------------
//Tilføj ny opg knap - SLUT
//-----------------------------

//-----------------------------
//Ny opg form - START
//-----------------------------
.nyOpgWrapper {
  width: 100%;
  border-top: 2px solid black;
  //border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: $lightGray;
}

// #task-form {}
.task-form {
  display: none; //til styling til styling til styling til styling til styling til styling
  //display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
  padding: 0 20px;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  color: #000;

  &.edit {
    display: flex;
  }
}


//Luk-knap (øverst højre) 
.close-btn {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  border: none;
  background: #8D1B3D;
  color: #fff;
  font-size: 1.6rem;
  line-height: 22px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
}

// Inputs
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 6px 8px;
  font-size: 1.4rem;
  font-family: inherit;
}


textarea {
  min-height: 90px;
  resize: vertical;
}

// Rækker 
.row {
  display: flex;
  align-items: center;
  gap: 14px;
}


// Radio buttons 
.checks {
  gap: 15px;
}

.check {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 1.4rem;
}

.check input {
  width: 16px;
  height: 16px;
}

// Lokation 
.location {
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 12px;
}

.mini-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mini-labels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  font-size: 1.1rem;
  margin-left: 4px;
  margin-bottom: -2px;
}

.mini-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.mini-inputs input {
  width: 120px;
  padding: 4px 8px;
}

// "eller:" 
.or {
  font-size: 1.6rem;
}

// "Vælg på map" link-button 
.map-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border: none;
  background: none;
  color: $darkRed;
  text-decoration: underline;
  font-size: 1.6rem;
  padding: 0;
  cursor: pointer;
  font-family: $font;
  white-space: wrap;
}

.map-icon {
  height: 2rem;
  transform: translateY(-2px);

  img {
    height: 100%;
  }
}

// Radius 
.radius {
  gap: 8px;
}

.radius-input {
  max-width: 80px;
}

.unit {
  font-size: 1.4rem;
}

//-----------------------------
//Ny opg form - SLUT
//-----------------------------

//-----------------------------
//Accordian lukket - START
//-----------------------------
.taskContainer {
  //!! obs på navn
  display: flex;
  gap: 30px;
  align-items: start;
  border-bottom: 1px solid black;
  padding: 10px 0;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: start;
}

.taskPile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  p {
    margin-top: 7px;
  }
}

.pilOpKnap {
  padding: none;
  background: none;
  border: none;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;

  img {
    height: 100%;
    width: 100%;
  }
}

.pilNedKnap {
  padding: none;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;

  img {
    height: 100%;
    width: 100%;
  }
}

.accordianTitel {
  padding-top: 7px;
  margin-top: 20px;
  width: 100%;
}

.openAccordian {
  margin-top: 32px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  margin-right: 20px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

//-----------------------------
//Accordian lukket - SLUT
//-----------------------------

//-----------------------------
//Accordian åben - START
//-----------------------------
.fieldDisplay {
  max-width: fit-content;
  //border: 1px solid #000;
  border-radius: 2px;
  padding: 4px 10px;
  font-size: 1.4rem;
  font-family: inherit;
  background-color: $darkGray;
}

.mini-labels-displayer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  font-size: 1.1rem;
  margin-left: 4px;
  margin-bottom: -2px;
}

.mini-inputs-displayer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

li {
  padding: 7px 8px !important;
  list-style: none;
}

.taskItem {
  display: flex;
  flex-direction: column;
  gap: -2px;
}

.p2 {
  line-height: 2.2rem !important;
}

.btn2 {
  border: 2px solid $darkRed !important;
  color: $darkRed;
  background-color: white;

  &:hover {
    border: 2px solid black !important;
    color: black;
  }
}

//-----------------------------
//Accordian åben - SLUT
//-----------------------------

@media (max-width: 1200px) {
  main {
    width: 960px;
    margin-top: $mainTopMargTablet;
  }

  h1 {
    font-size: 2.4rem;
    padding-bottom: 3px;
  }

  #logo {
    height: 5rem;
  }

  #contentContainer #settingsContainer {
    width: 290px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #contentContainer #tasksContainer {
    height: calc(100vh - $topHeight1200); //CONTAINER HØJDE   CONTAINER HØJDE CONTAINER HØJDE
  }

  .heroElements {
    align-items: end;
    padding-bottom: 5px;
  }

  #uploadInfo::after {
    width: calc($main992width - 200px);
    transform: translate(50%, -53%);
  }

  #downloadInfo::after {
    width: calc($main1200width - 800px);
    transform: translate(50%, -53%);
  }

}

@media (max-width: 992px) {
  main {
    width: 720px;
    margin-top: $mainTopMargTablet;
  }

  .heroElements {
    height: $heroEleHeightTablet;
  }

  #contentContainer #tasksContainer {
    height: calc(100vh - $topHeightTablet); //CONTAINER HØJDE   CONTAINER HØJDE CONTAINER HØJDE
  }

  .greenLine {
    width: 100%;
    height: $glHeightTablet;
    background-color: $darkGreen;
  }

  #contentContainer {
    flex-direction: column;

    #settingsContainer {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      flex-direction: row;
      border-bottom: 2px solid black;
      height: $settingsContainerHeightTablet;
      padding-top: 0;
      padding-bottom: 4px;
      align-items: end;
    }

    #tasksContainer #standardLandingPage {
      padding-left: 0;
    }
  }

  .toolbar {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .search-filter-sort-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
  }

  .sort-dropdown {
    padding: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    position: absolute;
  }

  #typeDropdown,
  #sorteringDropdown {
    display: none;
  }

  #typeDropdown.open,
  #sorteringDropdown.open {
    display: flex;
  }

  .filter-sort-wrapper {
    flex-direction: row;
    gap: 50px;
  }

  .sort-toggle {
    margin-top: 2px;
    display: block;
    padding: 0;
    background: none;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
  }

  .file-group {
    align-items: end;
    gap: 4px;
  }

  #uploadInfo::after {
    width: calc($main992width - 400px);
    transform: translate(-52%, 53%);
  }

  #downloadInfo::after {
    width: calc($main1200width - 800px);
    transform: translate(-52%, 53%);
  }

}

@media (max-width: 768px) {
  #contentContainer #tasksContainer {
    height: calc(100vh - $topHeightMobile); //CONTAINER HØJDE   CONTAINER HØJDE CONTAINER HØJDE
  }

  main {
    width: 540px;
  }

  /*.nyOpgWrapper{
        width: 540px;
    }*/
  h1 {
    padding-bottom: 2px;
  }

  .search-group input {
    font-size: 1.2rem;
  }

  legend {
    font-size: 1.2rem;
    margin-bottom: 2px;
  }

  label {
    font-size: 1.2rem;
  }

  .sort-toggle {
    width: 1.1rem;
    height: 1.1rem;
  }

  .file-button {
    padding: 6px 14px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 1.2rem;
  }

  .info-btn {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.2rem;
  }

  .search-filter-sort-wrapper {
    gap: 15px;
  }

  .filter-sort-wrapper {
    gap: 15px;
  }

  #contentContainer #settingsContainer {
    height: $settingsContainerHeightMobileL;
    padding-top: 0;
    padding-bottom: 2px;
    align-items: end;

  }

  .mini-header {
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .5px; //-0.5px
    margin-bottom: 5px;
  }

  #formateretInfo::after {
    width: calc($main768width - 50px);
    transform: translate(20%, -20%);
  }

  #logo {
    height: 4.3rem;
  }
}

@media (max-width: 576px) {
  main {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
  }

  .file-button {
    padding: 6px 6px;
    font-size: 1.1rem;
  }

  .info-btn {
    margin-left: 5px;
  }

  #uploadInfo::after {
    width: 250px;
    transform: translate(-52%, 53%);
    /*
    position: fixed;
    right: -40vw;
    top: -20px;
    width: 80vw; 
    */
  }

  #downloadInfo::after {
    width: 100px;
    transform: translate(-52%, 53%);
  }

  #formateretInfo::after {
    position: fixed;
    left: -15vw;
    right: 0;
    top: 150px;
    width: 80vw;
  }

  .tooltip-btn::after {
    display: none;
  }

}

@media (max-width: 350px) {
  .legend-group {
    font-size: 1.2rem;
  }

  #uploadInfo {
    display: none;
  }

  #downloadInfo {
    display: none;
  }
}